@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


/* Resetowanie domyślnych marginesów i ustawienia box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    /* background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    /* text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8); */ 
}

a {
    text-decoration: none;
    color: inherit;
}

/* Czcionka Trajan */
@font-face {
    font-family: 'Trajan';
    src: url('../fonts/Trajan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}

/* Wideo w tle */
#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../background/background_1.1.1.png'); /* Domyślne tło */
    background-position: center;
    background-size: cover;
    z-index: -1;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0; /* Ukrycie wideo, gdy się ładuje */
    transition: opacity 3s ease; 
}




/* Kontener treści */
.content-container {
    margin-top: 10vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

/* Logo */
.logo {
    max-width: 300px;
    width: 50%;
    margin-bottom: 50px;
    object-fit: cover;
    
}

/* Menu */
ul.menu {
    list-style: none;
}

.menu-item {
    display: inline-block;
    font-size: clamp(24px, 5vw, 64px);
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: transform 0.2s;
    background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8);
}

.menu-item:hover {
    transform: scale(1.1);
}

.menu-item:active {
    transform: scale(0.9);
}

/* Galeria */
.gallery-container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10vw;
    margin-top: 20px;
}

.item {
    text-align: center;
}

.item img {
    width: 100%;
    height: auto;
}

.item-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8);
}

/* Responsywność galerii */
@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}

/* Menu dla responsywności */
.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
    .menu-items li {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Kontener zapisu */
.saves-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.save-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    gap: 5vw;
}

.save-item .save-name {
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8);
}

.save-item .save-date,
.save-item .save-location {
    font-size: 14px;
    background: linear-gradient(90deg, #E6E6E6, #BFBFBF, #FFFFFF, #A6A6A6, #E6E6E6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Wyraźniejszy cień dla głębi */
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5), 
                 2px 7px 14px rgba(0, 0, 0, 0.8);
}
